/code/bin
/code/obj
/code/.vs

# Ignore NuGet Packages
*.nupkg

# Ignore the packages folder
**/packages/*

# except build/, which is used as an MSBuild target.
!**/packages/build/

# Uncomment if necessary; generally it will be regenerated when needed
#!**/packages/repositories.config

# Ignore other intermediate files that NuGet might create
project.json.lock
*.nuget.props